<!-- voice_assistant/templates/voice_assistant/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="https://1.bp.blogspot.com/-ixBoEHnCj5Y/TY1v7H2NL2I/AAAAAAAACmA/0twWkbEYiOs/s1600/gitam.JPG">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Assistant</title>
</head>
<body>
    <h1>Voice Assistant</h1>
    <p>Your voice commands are being processed...</p>
</body>
</html>
